In [83]:
import spacy
from spacy.lang.en.stop_words import STOP_WORDS
len(STOP_WORDS)

326

In [84]:
nlp=spacy.load('en_core_web_sm')
doc = nlp("We just opened our wings, the flying part is coming soon")

for token in doc:
    if token.is_stop:
        print(token)

We
just
our
the
part
is

In [85]:
def PreProcess(txt):
    doc=nlp(txt)
    no_stop=[token.text for token in doc if not token.is_stop and not token.is_punct]
    return ' '.join(no_stop)

In [86]:
PreProcess('We just opened our wings, the flying part is coming soon')

'opened wings flying coming soon'

# how to do in dataframe

In [87]:
import pandas as pd
df = pd.read_json('./doj_press.json',lines=True)
df.shape

(13087, 6)

In [88]:
df.head(5)

,id,title,contents,date,topics,components
0,None,Convicted Bomb Plotter Sentenced to 30 Years,"PORTLAND, Oregon. â€“ Mohamed Osman Mohamud, 23,...",2014-10-01T00:00:00-04:00,[],[National Security Division (NSD)]
1,12-919,$1 Million in Restitution Payments Announced t...,WASHINGTON â€“ North Carolinaâ€™s Waccamaw River...,2012-07-25T00:00:00-04:00,[],[Environment and Natural Resources Division]
2,11-1002,$1 Million Settlement Reached for Natural Reso...,BOSTONâ€“ A $1-million settlement has been...,2011-08-03T00:00:00-04:00,[],[Environment and Natural Resources Division]
3,10-015,10 Las Vegas Men Indicted \r\nfor Falsifying V...,WASHINGTONâ€”A federal grand jury in Las Vegas...,2010-01-08T00:00:00-05:00,[],[Environment and Natural Resources Division]
4,18-898,$100 Million Settlement Will Speed Cleanup Wor...,"The U.S. Department of Justice, the U.S. Envir...",2018-07-09T00:00:00-04:00,[Environment],[Environment and Natural Resources Division]

In [89]:
df_c = df[df['topics'].str.len()!=0]
df_c.head()

,id,title,contents,date,topics,components
4,18-898,$100 Million Settlement Will Speed Cleanup Wor...,"The U.S. Department of Justice, the U.S. Envir...",2018-07-09T00:00:00-04:00,[Environment],[Environment and Natural Resources Division]
7,14-1412,14 Indicted in Connection with New England Com...,A 131-count criminal indictment was unsealed t...,2014-12-17T00:00:00-05:00,[Consumer Protection],[Civil Division]
19,17-1419,2017 Southeast Regional Animal Cruelty Prosecu...,The United States Attorneyâ€™s Office for the Mi...,2017-12-14T00:00:00-05:00,[Environment],"[Environment and Natural Resources Division, U..."
22,15-1562,21st Century Oncology to Pay $19.75 Million to...,"21st Century Oncology LLC, has agreed to pay $...",2015-12-18T00:00:00-05:00,"[False Claims Act, Health Care Fraud]",[Civil Division]
23,17-1404,21st Century Oncology to Pay $26 Million to Se...,21st Century Oncology Inc. and certain of its ...,2017-12-12T00:00:00-05:00,"[Health Care Fraud, False Claims Act]","[Civil Division, USAO - Florida, Middle]"

In [90]:
df = df_c[:100]
df.shape

(100, 6)

In [91]:
df['contents_n']=df['contents'].apply(PreProcess)
df.head()

C:\Users\oc110\AppData\Local\Temp\ipykernel_3644\1151324845.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['contents_n']=df['contents'].apply(PreProcess)

,id,title,contents,date,topics,components,contents_n
4,18-898,$100 Million Settlement Will Speed Cleanup Wor...,"The U.S. Department of Justice, the U.S. Envir...",2018-07-09T00:00:00-04:00,[Environment],[Environment and Natural Resources Division],U.S. Department Justice U.S. Environmental Pro...
7,14-1412,14 Indicted in Connection with New England Com...,A 131-count criminal indictment was unsealed t...,2014-12-17T00:00:00-05:00,[Consumer Protection],[Civil Division],131 count criminal indictment unsealed today B...
19,17-1419,2017 Southeast Regional Animal Cruelty Prosecu...,The United States Attorneyâ€™s Office for the Mi...,2017-12-14T00:00:00-05:00,[Environment],"[Environment and Natural Resources Division, U...",United States Attorney Office Middle District ...
22,15-1562,21st Century Oncology to Pay $19.75 Million to...,"21st Century Oncology LLC, has agreed to pay $...",2015-12-18T00:00:00-05:00,"[False Claims Act, Health Care Fraud]",[Civil Division],21st Century Oncology LLC agreed pay $ 19.75 m...
23,17-1404,21st Century Oncology to Pay $26 Million to Se...,21st Century Oncology Inc. and certain of its ...,2017-12-12T00:00:00-05:00,"[Health Care Fraud, False Claims Act]","[Civil Division, USAO - Florida, Middle]",21st Century Oncology Inc. certain subsidiarie...

In [92]:
df['contents'].iloc[4][:300]

'21st Century Oncology Inc. and certain of its subsidiaries and affiliates have agreed to pay $26 million to the government to resolve a self-disclosure relating to the submission of false attestations regarding the companyâ€™s use of electronic health records software and separate allegations that the'

In [93]:
df['contents_n'].iloc[4][:300]

'21st Century Oncology Inc. certain subsidiaries affiliates agreed pay $ 26 million government resolve self disclosure relating submission false attestations company use electronic health records software separate allegations violated False Claims Act submitting causing submission claims certain serv'

# HurrayðŸ™ŒðŸ™ŒðŸ¥³

# Exercise 1

In [94]:
import spacy
nlp = spacy.load("en_core_web_sm")

In [95]:
text = '''
Thor: Love and Thunder is a 2022 American superhero film based on Marvel Comics featuring the character Thor, produced by Marvel Studios and 
distributed by Walt Disney Studios Motion Pictures. It is the sequel to Thor: Ragnarok (2017) and the 29th film in the Marvel Cinematic Universe (MCU).
The film is directed by Taika Waititi, who co-wrote the script with Jennifer Kaytin Robinson, and stars Chris Hemsworth as Thor alongside Christian Bale, Tessa Thompson,
Jaimie Alexander, Waititi, Russell Crowe, and Natalie Portman. In the film, Thor attempts to find inner peace, but must return to action and recruit Valkyrie (Thompson),
Korg (Waititi), and Jane Foster (Portman)â€”who is now the Mighty Thorâ€”to stop Gorr the God Butcher (Bale) from eliminating all gods.
'''

In [96]:
doc=nlp(text)
cnt=0
for token in doc:
    if token.is_stop:
        cnt+=1
print(f"No of stop word out of 100% is {cnt*100/len(doc)}%")

No of stop word out of 100% is 25.0%

# Exercise 2

In [97]:
def preprocess(text):
    doc = nlp(text)
    no_stop_words = [token.text for token in doc if not token.is_stop and not token.is_punct]
    return " ".join(no_stop_words)

In [98]:
preprocess('this is a good movie')

'good movie'

In [99]:
preprocess('this is not a good movie')

'good movie'

# Exercise 3

In [100]:
text = ''' The India men's national cricket team, also known as Team India or the Men in Blue, represents India in men's international cricket.
It is governed by the Board of Control for Cricket in India (BCCI), and is a Full Member of the International Cricket Council (ICC) with Test,
One Day International (ODI) and Twenty20 International (T20I) status. Cricket was introduced to India by British sailors in the 18th century, and the 
first cricket club was established in 1792. India's national cricket team played its first Test match on 25 June 1932 at Lord's, becoming the sixth team to be
granted test cricket status.
'''


#step1: Create the object 'doc' for the given text using nlp()



#step2: remove all the stop words and punctuations and store all the remaining tokens in a new list



#step3: create a new dictionary and get the frequency of words by iterating through the list which contains stored tokens  



#step4: get the maximum frequency word



#step5: finally print the result

In [101]:
def preprocess(text):
    doc = nlp(text)
    no_stop_words = [token.text for token in doc if not token.is_stop and not token.is_punct and not token.is_space]
    return no_stop_words

In [102]:
words = preprocess(text)
words[:5]

['India', 'men', 'national', 'cricket', 'team']

In [103]:
dic = dict()
for word in words:
    if word not in list(dic.keys()):
        dic.update({
            word:words.count(word)
        })

In [110]:
value = list(dic.values())
sorted(value,reverse=True)[:6]
# value=value.sort()
# print(value)

[6, 5, 3, 3, 3, 2]

In [113]:
for k,v in dic.items():
    print(k,v)

India 6
men 2
national 2
cricket 5
team 3
known 1
Team 1
Men 1
Blue 1
represents 1
international 1
governed 1
Board 1
Control 1
Cricket 3
BCCI 1
Member 1
International 3
Council 1
ICC 1
Test 2
Day 1
ODI 1
Twenty20 1
T20I 1
status 2
introduced 1
British 1
sailors 1
18th 1
century 1
club 1
established 1
1792 1
played 1
match 1
25 1
June 1
1932 1
Lord 1
sixth 1
granted 1
test 1