In [125]:
import spacy
nlp = spacy.load("en_core_web_sm")

In [126]:
doc = nlp("Tesla Inc is going to acquire twitter inc for $45 billion")

for ent in doc.ents:
    print(ent.text,"|",ent.label_,"|",spacy.explain(ent.label_))

Tesla Inc | ORG | Companies, agencies, institutions, etc.
twitter inc | ORG | Companies, agencies, institutions, etc.
$45 billion | MONEY | Monetary values, including unit

In [127]:
from spacy import displacy
displacy.render(doc,style="ent")

In [128]:
nlp.pipe_labels['ner']

['CARDINAL',
 'DATE',
 'EVENT',
 'FAC',
 'GPE',
 'LANGUAGE',
 'LAW',
 'LOC',
 'MONEY',
 'NORP',
 'ORDINAL',
 'ORG',
 'PERCENT',
 'PERSON',
 'PRODUCT',
 'QUANTITY',
 'TIME',
 'WORK_OF_ART']

In [129]:
doc = nlp("Michael Bloomberg founded Bloomberg inc in 1982")
for ent in doc.ents:
    print(ent.text, "|", ent.label_, "|", spacy.explain(ent.label_))

Michael Bloomberg | PERSON | People, including fictional
Bloomberg inc | ORG | Companies, agencies, institutions, etc.
1982 | DATE | Absolute or relative dates or periods

In [130]:
doc = nlp("Tesla Inc is going to acquire Twitter Inc for $45 billion")
for ent in doc.ents:
    print(ent.text,"|",ent.label_)

Tesla Inc | ORG
Twitter Inc | ORG
$45 billion | MONEY

In [131]:
# Concept of "span"
type(doc[2:5])

spacy.tokens.span.Span

In [132]:
from spacy.tokens import Span

s1 = Span(doc,0,1,label="ORG")
s2 = Span(doc,5,6,label="ORG") #acquire
doc.set_ents([s1,s2],default="unmodified")

In [133]:
for ent in doc.ents:
    print(ent.text,"|",ent.label_)

Tesla Inc | ORG
acquire | ORG
Twitter Inc | ORG
$45 billion | MONEY

# Named Entity Recognition (NER): Exercises

## Excersie: 1

In [134]:
#importing necessary libraries 
import spacy
from spacy.tokens import Span
nlp = spacy.load("en_core_web_sm")  #creating an object and loading the pre-trained model for "English"

In [135]:
text = """Kiran want to know the famous foods in each state of India. So, he opened Google and search for this question. Google showed that
in Delhi it is Chaat, in Gujarat it is Dal Dhokli, in Tamilnadu it is Pongal food, in Andhrapradesh it is Biryani, in Assam it is Papaya Khar,
in Bihar it is Litti Chowkha and so on for all other states"""

doc = nlp(text)

In [136]:
str

''

In [137]:
gpe,cnt,enti=list(),0,list()
for ent in doc.ents:
    enti.append(ent.text)

n_doc = ' '.join(enti)
n_doc = nlp(n_doc)
n_doc
# print(f"Count:{stri}")

Kiran India Google Google Delhi Chaat Gujarat Dal Dhokli Tamilnadu Pongal food Andhrapradesh Biryani Assam Papaya Khar Bihar Litti Chowkha

In [138]:
n_doc[10:11]

Pongal

In [139]:
s1 = Span(n_doc,10,11,label="WORK_OF_ART")
n_doc.set_ents([s1],default='unmodified')

In [140]:
for ent in n_doc.ents:
    if ent.label_=='GPE':
        cnt+=1
        gpe.append(ent.text)
print(f"Geographical location Names:{gpe}")
print(f"Count:{cnt}")

# ðŸ˜¡ it dosen't work

Geographical location Names:['Kiran', 'India']
Count:2

In [141]:
cnt=0
for ent in doc.ents:
    if ent.label_=='GPE':
        cnt+=1
        gpe.append(ent.text)
print(f"Geographical location Names:{gpe}")
print(f"Count:{cnt}")

Geographical location Names:['Kiran', 'India', 'India', 'Delhi', 'Gujarat', 'Tamilnadu', 'Andhrapradesh', 'Assam', 'Bihar']
Count:7

## Excersie: 2

In [142]:
text = """Sachin Tendulkar was born on 24 April 1973, Virat Kholi was born on 5 November 1988, Dhoni was born on 7 July 1981
and finally Ricky ponting was born on 19 December 1974."""

doc = nlp(text)

In [143]:
cnt,date=0,list()
for ent in doc.ents:
    if ent.label_=='DATE':
        cnt+=1
        date.append(ent.text)
print(f"All Birth Dates:{date}")
print(f"Count:{cnt}")

All Birth Dates:['24 April 1973', '5 November 1988', '7 July 1981', '19 December 1974']
Count:4